<!DOCTYPE html>
<html>
<body>

<h1>Robot with closest load location</h1>

<form action="/api/robots/closest/" method="post" target="_self">
  <label for="loadID">LoadId:</label>
  <input type="text" id="lId" name="lId"><br><br>
  <label for="x">X Coordinate:</label>
  <input type="text" id="x" name="x"><br><br>
  <label for="y">Y Coordinate:</label>
  <input type="text" id="y" name="y"><br><br>
  <input type="submit" value="Submit">
</form>

<p>Returns a best robot to transport the load based on which one is closest its load's location.</p>

</body>
</html>